<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <div class="date-container">
    <div class="input-box-container">
      <!-- <div class="btn-container">
        <button class="btn-btn-arrow">
          left
        </button>
      </div> -->
      <input class="input-box" placeholder="Click to select a date" 
        angular-mydatepicker name="mydate" (click)="dp.toggleCalendar()" 
        [(ngModel)]="model" [options]="myDpOptions" 
        #dp="angular-mydatepicker"/>
      <!-- <input class="input-box" placeholder="Click to select a date" 
        angular-mydatepicker name="mydate" (click)="dp.toggleCalendar()" 
        [(ngModel)]="model" [options]="myDpOptions2" 
        #dp="angular-mydatepicker"/> -->
    
    <!-- <div class="btn-container">
      <button class="btn-btn-arrow">
        right
      </button>
    </div> -->
  </div>
  </div>
</div>



<div class="horizontal-conatainer" #mytestdiv >
  <div *ngFor="let test of testArr" class="sm" ></div>
</div>

<button class="btn btn-left" (click)="scrollDiv(-1)" >
  left
</button>

<button class="btn btn-right" (click)="scrollDiv(1)" >
  right
</button>

